*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Fonte2;
    src: url(../assets/fonts/PlaywritePL-Regular.ttf);
}


html{
    font-family: Roboto;
}

.clear{clear: both;}
.container{
    max-width: 1050px;
    padding: 0 2%;
    margin: 0 auto;
}




section.header-principal{
    width: 100%;
    padding: 30px 0;
    min-height: 600px;
    background-image: url(../assets/images/bg_01.png);
    background-size: cover;
}

.logo{
    float: left;
    width: 166px;
    height: 64px;
    /* background-image: url(../assets/images/logo.png);
    background-size: 100% 100%; */
    font-family: fonte2;
    font-size: 20px;
    font-weight: bold;
    color: #ffff;
}

header nav{
    float: left;
    padding-left: 60px;
    padding-top: 10px;
}

header nav ul{
    list-style-type: none ;
}

header li{
    display: inline-block;
    font-size: 16px;
    padding: 0 20px;
    font-size: 20px;
}

li a:hover{
    color: #2c584c;
}

header li > a{
    color: white;
    text-decoration: none;
}

.telefone-header{
    float: left;
    padding-top: 10px;
}

.telefone-header span{
    font-size: 20px;
    color: #ffff;
    padding-left: 15px;
    
}

section.header-principal header{
    border-bottom: 3px solid rgba(71, 83, 88, 0.14);
    padding-bottom: 25px;
}   


.group{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.info-inicial{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 30px;
}

.info-inicial h2{
    font-size: 37px;
    line-height: 38px;
    color: #509d87;
}

.info-inicial p{
    line-height: 30px;
    font-size: 19px;
}

.envio-email input, button{
    padding: 19px;
    border-radius: 20px;
    border: none;
}

.envio-email button{
    background-color: #00daaa;
    color: #ffff;
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;

}


.ajuste-imagem{
    display: flex;
    gap: 30px;
    margin-left: 30px;
}

.ajuste-imagem img{
    height: 180px;
    
}

.diferencial{
    padding: 80px;
}


.cmd-1{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

.elementos{
    width: 255px;
}

.elementos img{
    height: 55px;
}

.elementos b{
    color: #7dd5b0;
}

.group-2{
    display: flex;
    gap: 30px;
}

.group-2 img{
    width: 700px;
    height: 405px;
}

.descrito{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
}

.descrito h2{
    color: #a9c4b8;
}

.descrito b{
    color: #03ca9f;
}

.depoimento{
    width: 100%;
    min-height: 400px;
    background-size: cover;
    background-image: url(../assets/images/bg_02.png);
}

.mensagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    text-align: center;
    gap: 10px;
}
.mensagem h2{
   font-size: 19px;
   font-weight: 500;
   font-style: italic;

}

.contato{
    width: 100%;
    background-color: #98FCDE;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-contato{
    text-align: center;
}

.info-contato h2{
    margin: 5px;
    font-weight: bold;
    color: #509d87;
}

.form-group{
    padding: 5px;
}

.form-group input{
    width: 430px;
    padding: 10px;
    border-radius: 30px;
    border: none;
}

.form-group textarea{
    width: 430px;
    height: 120px;
    resize: none;
    border: 1px solid #ccc;
    padding: 8px;
}

.enviar{
    width: 100px;
    background-color: #509d87;
    padding: 10px ;
    color: #ffff;
    font-weight: bold;
    float:right
}

.rodape{
    padding: 10px;
    text-align: center;
    background-color: #2c584c;
    color:#ffff;
}



/*Responsividade Media Query*/

@media (max-width: 1010px){

    /*Criar o menu haburguer*/

    .group-2{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .descrito{
        
        flex-direction: row;
        gap: 15px;
        width: 500px;
    }

    .bloc1{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

}


@media (max-width: 914px){

    

    .ilustracoes{
        display: none;
    }
    .group-2{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .descrito{
        flex-direction: column;
        text-align: center;
        gap: 15px;
        width: 400px;
    }

    .bloc1{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .group-2 img{
        width: 500px;
        height: auto;
        
    }

    
  

}


@media (max-width: 850px){
    .cmd-1{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .elementos{
        width: 455px;
        text-align: center;
    }
}


@media (max-width: 720px){
   .envio-email{
        display: flex;
        flex-direction: column;
        gap: 15px;
   }

   .envio-email button{
        margin: 0;
        
   }
}


@media (max-width: 550px){
    .group{
        text-align: center;
        align-items: center;
        
    }

    .group-2 img{
        width: 480px;
        height: auto;
        
    }

    .info-inicial{
        align-items: center;
        margin: 0;
        width: 480px;
    }
 }